@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat&display=swap');

/* Colors */
$background: #0e1014;
$text_color: #e4e5ea;
$text_hover: #f58b4d;
$list_header: #656566;
$action_button_background: #4077f3;
$header_mobile_background: #0e1014;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text_color;
  transition: color 0.2s ease-in-out;
}

img {
  display: block;
}

body {
  background-color: $background;
  color: $text_color;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  position: relative;

  @media screen and (max-width: 320px) {
    font-size: 14px;
    width: 320px;
  }
}

.balls {
  position: relative;
  margin: 0 auto;
  z-index: -1;
  display: flex;
  align-items: center;

  @media screen and (max-width: 320px) {
    display: none;
  }

  .balls__wrapper {
    width: 1440px;
    margin: 0 auto;
  }

  .ball {
    position: absolute;
    border-radius: 50%;
  }

  .ball_1 {
    height: 311px;
    width: 311px;
    left: -102px;
    top: 251px;
    border-radius: 0px;

    background: #961a1a;
    opacity: 0.5;
    filter: blur(196px);
  }

  .ball_2 {
    height: 259px;
    width: 259px;
    left: 602px;
    top: -154px;
    border-radius: 0px;

    background: #833ab4;
    opacity: 0.5;
    filter: blur(196px);
  }

  .ball_3 {
    height: 60px;
    width: 60px;
    left: 868px;
    top: -2px;

    background: radial-gradient(
      64% 64% at 27.25% 26.5%,
      rgba(236, 208, 255, 0.64) 0%,
      rgba(161, 93, 207, 0.24) 59.67%,
      rgba(118, 49, 164, 0.208) 78.59%,
      rgba(86, 24, 128, 0.232) 100%
    );

    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
  }

  .ball_4 {
    height: 83px;
    width: 83px;
    left: 519px;
    top: 83px;

    background: radial-gradient(
      64% 64% at 27.25% 26.5%,
      rgba(255, 208, 208, 0.536) 0%,
      rgba(212, 93, 93, 0.264) 59.67%,
      rgba(167, 49, 49, 0.248) 78.59%,
      rgba(130, 25, 25, 0.248) 100%
    );

    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
  }

  .ball_5 {
    height: 28px;
    width: 28px;
    left: 851px;
    top: 547px;

    background: radial-gradient(
      64% 64% at 27.25% 26.5%,
      rgba(255, 208, 208, 0.48) 0%,
      rgba(212, 93, 93, 0.248) 59.67%,
      rgba(167, 49, 49, 0.264) 78.59%,
      rgba(130, 25, 25, 0.232) 100%
    );

    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
  }
}

.wrapper {
  width: 1140px;
  margin: 0 auto;

  @media screen and (max-width: 320px) {
    width: 272px;
  }
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 36px;

  @media screen and (max-width: 320px) {
    margin-top: 0;
    margin-bottom: 0;
    height: 55px;
    background-color: $header_mobile_background;
    text-transform: uppercase;
    font-size: 12px;

    // max-width: 320px;
    overflow: hidden;

    .header__phone {
      display: none;
    }

    .socials {
      display: none;
    }
  }

  a {
    font-weight: 500;
    &:hover {
      color: $text_hover;
    }
  }

  .page-header__nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;

    @media screen and (max-width: 320px) {
      gap: 16px;
      justify-content: center;
    }
  }
}

.page-header__logo {
  position: relative;
}

.page-header .after-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  max-width: 165px;
  max-height: 24px;
  font-size: 10px;
  margin-top: 10px;
  position: absolute;

  @media screen and (max-width: 320px) {
    display: none;
  }
}

.page-header__logo a {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 8px;

  @media screen and (max-width: 320px) {
    display: none;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 34px;
}

.button {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 262px;
  height: 61px;

  @media screen and (max-width: 320px) {
    display: none;
  }
}

.action_button {
  background-color: $action_button_background;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .wrapper {
    z-index: 10;
  }
}

.info-balls {
  display: none;
  position: absolute;

  .glass {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(
      238.53% 189.02% at 3.2% 3.49%,
      rgba(255, 246, 233, 0.1) 0%,
      rgba(26, 29, 35, 0.1) 26.62%,
      rgba(26, 29, 35, 0.1) 52.1%,
      rgba(26, 29, 35, 0.01) 70.17%,
      rgba(26, 29, 35, 0) 100%
    );
    backdrop-filter: blur(7.5px);
    background-image: url('../images/noise_mobile_background.png');
    mix-blend-mode: overlay;
  }

  .ball {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }

  .purple {
    width: 259px;
    height: 259px;
    left: 258px;
    top: 107px;
    background: #833ab4;
    opacity: 0.5;
    filter: blur(196px);
  }

  .red {
    width: 211px;
    height: 210px;
    left: -55px;
    top: 241px;

    background: #961a1a;
    opacity: 0.5;
    filter: blur(196px);
  }

  .yellow {
    width: 200px;
    height: 200px;
    left: -66px;
    top: 519px;

    background: #fcb045;
    opacity: 0.4;
    filter: blur(196px);
  }

  .red-ball {
    width: 43px;
    height: 43px;
    left: 29px;
    top: 402px;

    background: radial-gradient(
      64% 64% at 27.25% 26.5%,
      rgba(255, 208, 208, 0.536) 0%,
      rgba(212, 93, 93, 0.264) 59.67%,
      rgba(167, 49, 49, 0.248) 78.59%,
      rgba(130, 25, 25, 0.248) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
  }

  .purple-ball {
    width: 40px;
    height: 40px;
    left: 296px;
    top: 236px;

    background: radial-gradient(
      64% 64% at 27.25% 26.5%,
      rgba(236, 208, 255, 0.64) 0%,
      rgba(161, 93, 207, 0.24) 59.67%,
      rgba(118, 49, 164, 0.208) 78.59%,
      rgba(86, 24, 128, 0.232) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
  }

  .yellow-ball {
    width: 25px;
    height: 25px;
    left: 0px;
    top: 0px;

    background: radial-gradient(
      84.78% 84.78% at 0% 11.96%,
      rgba(255, 233, 203, 0.568) 0%,
      rgba(184, 131, 18, 0.448) 100%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -4px 4px 7px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2.5px);

    transform: matrix(0, 1, 1, 0, 0, 0);
  }

  @media screen and (max-width: 320px) {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: white;
    overflow: hidden;
  }
}

/* AD-INFO */
.ad-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 93px;
  position: relative;

  @media screen and (max-width: 320px) {
    flex-direction: column;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 59px;

    .description {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
    }
  }

  span {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
  }

  .ad-info__header {
    max-width: 362px;
    h1 {
      font-size: 48px;
      font-weight: 400;
      line-height: 58px;
      @media screen and (max-width: 320px) {
        font-size: 36px;
        line-height: 43.57px;
      }
    }
    span {
      font-weight: 900;
    }
    .description {
      margin-top: 30px;
      @media screen and (max-width: 320px) {
        margin-top: 15px;
      }
    }
  }

  .ad-info__information {
    display: flex;
    flex-direction: column;
    max-width: 332px;
    text-align: end;
    align-items: flex-end;

    @media screen and (max-width: 320px) {
      margin-top: 45px;
      text-align: left;
    }

    .additional {
      span {
        font-weight: 700;
        letter-spacing: 5%;
      }
    }

    .presents {
      margin-top: 40px;
      margin-bottom: 61px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 31px;

      @media screen and (max-width: 320px) {
        margin-top: 20px;
        gap: 10px;
        margin-bottom: 0;
      }

      .present {
        display: flex;
        flex-direction: column;
        gap: 6px;
        text-align: end;
        flex: 1;
        position: relative;

        @media screen and (max-width: 320px) {
          text-align: start;
          margin-left: 15px;
          width: 50%;
          &::before {
            content: '';
            display: block;
            width: 10px;
            height: 1px;
            background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
            position: absolute;
            left: -15px;
            top: 8px;
          }
        }

        .present__header {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 18px;

          @media screen and (max-width: 320px) {
            font-size: 13px;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;
          }
        }

        .present__description {
          font-family: 'Montserrat', sans-serif;
          line-height: 19.5px;

          @media screen and (max-width: 320px) {
            display: none;
          }
        }
      }
    }
  }
}

/* FOOTER */

.page-footer {
  margin-top: min(124px, 10%);
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  max-height: 315px;
  font-size: 16px;

  .menu-wrapper {
    display: flex;
    flex-direction: row;
    gap: 52px;
  }

  .footer-nav {
    margin-bottom: 88px;
    display: flex;
    flex-direction: column;
    .footer-nav__header {
      font-size: 14px;
      color: $list_header;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    li {
      margin-bottom: 10px;
    }

    .socials {
      gap: 14px;
      li {
        margin: 0;
      }
    }

    .address {
      display: block;
    }

    @media screen and (max-width: 320px) {
      margin-bottom: 30px;
      font-size: 14px;
    }
  }

  .footer-nav.part {
    align-self: flex-end;
  }

  .contacts {
    align-items: flex-end;

    @media screen and (max-width: 320px) {
      align-items: flex-start;
      .address {
        font-size: 14px;
      }
    }
  }

  .copyright {
    position: absolute;
    bottom: 20px;
    right: 0;

    font-size: 12px;
    text-align: end;
    line-height: 14.63px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    @media screen and (max-width: 320px) {
      position: relative;
      text-align: start;
      right: auto;
      left: 0;
      padding-top: 50px;
      padding-bottom: 60px;
    }

    a {
      text-decoration: underline;
    }
  }
}
